.container {
  display: flex;
  gap: 100px;
  align-items: center;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 60px;
  background: linear-gradient(to bottom, rgb(44, 44, 248), rgb(106, 106, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img {
  object-fit: cover;
  height: 500px;
  width: 100%;
}
.desc {
  font-size: 24px;
  font-weight: 300;
}
.button {
  border: none;
  padding: 15px;
  cursor: pointer;
  width: max-content;
  background: linear-gradient(to bottom, rgb(44, 44, 248), rgb(106, 106, 241));
  border-radius: 3px;
  color: whitesmoke;
  font-size: large;
}
